.carrito.mobile-menu{
    margin-right: 0%;
     transition: all 0.5s ease ;
 }
 
 
 .carrito{
     font-family: 'mont';
     z-index: 100;
     width: 400px;
 }
 .carrito__h2{
     text-align: center;
     font-family: 'proxi';
     margin-top: 30px;
 }
 .carrito-producto{
     height: 200px;
     
 }
 .carrito__body{
     display: flex;
     justify-content: center;
     width: 80%;
     margin-top: 10px;
 }
 .carrito-items{
     margin-top: 20px;
     
 }
 
 .carrito__info{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .button-aumt{
     display: flex;
     border: solid 1px rgb(255, 255, 255);
     justify-content: center;
     align-items: center;
     
 }
 .button-cantidad{
     border: none;
     background-color: transparent;   
     width: 40px;
     height: 30px;
     font-size: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
 
 }
 .carrito__pr-cant{
     display: flex;
     width: 120px;
     justify-content: space-between;
     margin: 15px;
     
 }
 
 .carrito__precio{
     display: flex;
     align-items: center;
     
 }
 
 .carrito__descripcion{
     text-align: center;
     width: 100%;
 }
 
 .carrito__p{
     font-size: 1.2rem;
    width: 100%;
 }
 
 .carrito-producto{
     width: 200px;
     height: 200px;
     object-fit: contain;
 }
 
 .carrito{
     position:fixed;
     top: 0;
     right: 0;
     background-color: rgb(56, 55, 55);
     height: 100%;
     overflow-y: auto;
     margin-right: -100%;
     transition: all 0.5s ease ;
     z-index: 2000;
 }
 

 
 .icons{
     font-size: 30px;
 }
 .carrito__compra{
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;  
 }
 .carrito__button{
     background-color: var(--rojo);
     color: white;
     border: none;
     width: 200px;
     font-family: 'proxi';
     height: 50px;
     
 }
 .carrito__button:hover{
     background-color: white;
     color: var(--rojo);
     border: none;
     width: 200px;
     font-family: 'proxi';
     height: 50px;
 }
 
 .carrito__p--compra{
     color: var(--rojo);
     font-family: 'proxi';
 }
 
 .confirmar__compra{
     background-color:var(--gris);
     height: 480px;
     width: 400px;
     position: fixed;
     z-index: 1000;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .confirmar__compraText{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100%
 }
 .confirmar__h1{
     margin-bottom: 20px;
 }
 .input{
     height: 40px;
     width: 300px;
     color: var(--negro);
     margin: 20px 0 ;
 }
 .h1__span{
     color: var(--rojo);
 }
 .confirmar__option{
     color: var(--negro);
 }
 
 .confirmar__label{
     font-family: 'proxi';
 }
 
 .confirmar__h1,.h1__span{
     font-size: 1.6rem;
 }
 .button__confirmar{
     margin-top: 10px;
 }

 .fa-x,.salir-carrito{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
}


.compra{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carrito__button--compra{
    margin: 0 auto;
}

.carrito__span--text{
    color: var(--blanco);
}


@media screen and (max-width:612px) {  
    .carrito{  
        width: 100%; 
    }
    
}


@media screen and (max-width:403px) {

   .carrito__body{
    display: block;
    width: 100%;
   } 
   .carrito-img,.carrito__info{
    display: flex;
    justify-content: center;
   }
   .carrito__pr-cant{
    justify-content: center;
    gap: 10px;
   
    
}
}

