
.general{
    width: 100%;
    height: 100%;
    background-image: url('./img/fondo.jpg');
}

.main__tituloo{
    text-align: center;
    font-size: 40px;
    color: var(--blanco);
    padding-top: 100px;
    font-family: 'proxi';
}
.main__titulo-span{
    color: var(--rojo);
}
.catalogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -15;
}
.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px;
}

.bloque__img{
    height: 50px; 
    width: 60px;
}
.img{
    position: relative;
    cursor: pointer;
}
.card__img{
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
}
.card__backk{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 5px;

  
}
.card__title{
    margin: 15px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'nova';
}
.card__cantidad{
    margin-bottom: 15px;
    color: var(--rojo);
    font-family: 'proxi';
}
.card__cantidad--span{
    color: white;
    font-family: 'proxi';
}
.card__precio{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-family: 'proxi';
}
.card__button{
    width: 220px;
    height: 40px;
    background-color: var(--rojo);
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.card__button:hover>.card__button-text{
    color: var(--rojo);
}
.card__button-text{
    font-family: 'nova';
}
.card__button-text{
    font-family: 'nova';
}
.card__button-carrito{
    width: 32px;
    position: relative;
    left: 5%;
}


.card__modal{
    display: flex;
    
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
}

.modal__derecha{
    background-color: var(--grisClaro);
    display: flex;
    align-items: center;
    
}

.modal__image--img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.modal__izquierda{
    width: 500px;
    display: flex;
    align-items: center;
    background-color: var(--gris);
    position: relative;
}
.modal__h2{
    font-size: 3rem;
}
.modal__info{
    font-family: 'proxi';
    padding: 10px;
}

.modal__valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}
.modal__descripcion{
    font-family: 'mont';
}


.salir-modal{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.buscar{
    display: flex;
    margin-left: 10px;
    justify-content: center;

}
.title_buscar_lp{
    
    width: 300px;
    
}

.title_lp{
    text-transform: uppercase;
    font-family: proxi;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.title_lp span{
    color: var(--rojo);
    font-size: 2.5rem;
}

.buscar_lp{
    outline: none;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.buscar_lp::placeholder{
    color: var(--rojo);
    text-align: center;
    font-family: proxi;
    font-size: 1.4rem;
}

.pagination{
    display: flex;
    justify-content: center;
    padding-bottom:100px ;
    align-items: center;
}


.button__pagination{
    background-color: var(--rojo);
    height: 30px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}


.button__pagination:hover{
    background-color: var(--blanco);
    color: var(--rojo);
}

@media screen and (max-width:700px) {
    .card__modal{
        display: block;
       
        
    }
    .modal__izquierda{
        width: 360px;
      
    }
}